/* FILL-IN CHALLENGE START */
div.fill-in-card {
  border-radius: 15px 50px;
  background-color: #527f7f;
  min-width: 300px;
  padding: 50px 10px;
}
div.fill-in-card .hint{
  color: #A3FFFF;
  font-size: 3em;
  margin-bottom: 30px;
}
div.fill-in-card input {
  background-color: azure;
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  color: #527f7f;
  display: inline-block;
  height: 2.5em;
}

div.fill-in-card input:focus {
  outline: none;
  border-color: #A3FFFF;
}

/* END FILL-IN CHALLENGE */

/*CHOSE CHALLENGE START*/
.chose-container {
  min-width: 300px;
}

.chose-heading {
  margin-bottom: 50px;
}

[class^="chose-button"], .chose-word  {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 25px solid #A3FFFF;
  background-color: #C0CCCC;
  transition: 1s;
}

.chose-word {
  border-radius: 100px;
  width: 100%;
}

[class^="chose-button"] span, .chose-word {
  line-height: 100px;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
}

[class^="chose-button"]:hover {
  border-color: #C0CCCC;
  background-color: #A3FFFF;
  cursor: pointer;
}
/*END CHOSE CHALLENGE*/

/*MEMO CHALLENGE START*/
.memo-card {
  margin: 10px;
  background-color: #C0CCCC;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 1.5s;
  -webkit-box-shadow: 3px 3px 3px grey;
  -moz-box-shadow: 3px 3px 3px grey;
  box-shadow: 3px 3px 3px grey;
}

.memo-card:hover {
  -webkit-box-shadow: 10px 10px 10px grey;
  -moz-box-shadow: 10px 10px 10px grey;
  box-shadow: 10px 10px 10px grey;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.memo-card img {
  max-width: 100%;
  max-height: 100%;
}
/*END MEMO CHALLENGE*/
