div.y-centered {
  background-color: inherit;
  position: absolute;
  top: 50%;
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}

.full-width {
  width: 100%;
}

.jumbotron {
  width: 100%;
}

.jumbotron a {
  color: #527F7F;
}
