/* FILL-IN CHALLENGE START */
div.fill-in-card {
  border-radius: 15px 50px;
  background-color: #527f7f;
  min-width: 300px;
  padding: 50px 10px;
}
div.fill-in-card .hint{
  color: #A3FFFF;
  font-size: 3em;
  margin-bottom: 30px;
}
div.fill-in-card input {
  background-color: azure;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5em;
  color: #527f7f;
  display: inline-block;
  height: 2.5em;
}

div.fill-in-card input:focus {
  outline: none;
  border-color: #A3FFFF;
}

@media screen and (min-width: 480px) {
  div.fill-in-card input {
    font-size: 2em;
  }
}

/* END FILL-IN CHALLENGE */

/*CHOSE CHALLENGE START*/
.choose-container {
  min-width: 300px;
}

.choose-heading {
  margin-bottom: 50px;
}

[class^="choose-button"], .choose-word  {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 25px solid #A3FFFF;
  background-color: #C0CCCC;
  transition: 1s;
}

.choose-word {
  border-radius: 100px;
  width: 100%;
}

[class^="choose-button"] span, .choose-word {
  line-height: 100px;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
}

[class^="choose-button"]:hover {
  border-color: #C0CCCC;
  background-color: #A3FFFF;
  cursor: pointer;
}
/*END CHOSE CHALLENGE*/

/*MEMO CHALLENGE START*/
.container.memo {
  min-width: 300px;
}

.memo-card {
  height: 75px;
  margin: 5px 0;
  background-color: #C0CCCC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: box-shadow 0.3s linear, transform 0.5s ease-in-out;
  -moz-transition: box-shadow 0.3s linear, transform 0.5s ease-in-out;
  -o-transition: box-shadow 0.3s linear, transform 0.5s ease-in-out;
  transition: box-shadow 0.3s linear, transform 0.5s ease-in-out;
  -webkit-box-shadow: 3px 3px 5px grey, 3px 3px 15px grey inset;
  -moz-box-shadow: 3px 3px 5px grey, 3px 3px 15px grey inset;
  box-shadow: 3px 3px 5px grey, 3px 3px 15px grey inset;
  cursor: pointer;
}

.memo-card:hover {
  -webkit-box-shadow: 7px 7px 10px grey, 4px 4px 15px grey inset;
  -moz-box-shadow: 7px 7px 10px grey, 4px 4px 15px grey inset;
  box-shadow: 7px 7px 10px grey, 4px 4px 15px grey inset;
}

.memo-card.chosen {
  -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.memo-card img {
  max-width: 100%;
  height: auto;
}

.memo-card>span, .memo-card>.memo-form {
  font-size: 1em;
  line-height: 75px;
}

@media screen and (min-width: 380px) {
  .memo-card>span, .memo-card>.memo-form {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 480px) {
  .memo-card {
    height: 150px;
    margin: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .memo-card>span, .memo-card>.memo-form {
    font-size: 2em;
    line-height: 150px;
  }
}
/*END MEMO CHALLENGE*/
