body {
  background-color: #F0FFFF;
  color: #527F7F;
  min-width: 230px;
}

.navbar-default {
  background-color: #527F7F;
  color: #F0FFFF;
  z-index: 100;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #F0FFFF;
  font-size: 1.2em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A3FFFF;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
  background-color: #527F7F;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #F0FFFF;
}

.navbar-default .navbar-toggle:hover {
  background-color: #F0FFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #527F7F;
}

/*Scheme
#F0FFFF
#C0CCCC
#A3FFFF
#527F7F dark
*/

/*LOADER START*/
loader {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50px -50px;
  z-index: 999;
}
/*END LOADER*/

/*VERBS LIST START*/
.container-fluid.verb-list {
  min-width: 400px;
}

.table.table-striped {
  font-size: 0.7em;
}

.table th, .table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.table th {
  cursor: pointer;
}

.btn.btn-default, .btn.btn-default:focus {
  background-color: #527F7F;
  color: #F0FFFF;
  outline: none;
}

.btn.btn-default:hover {
  color: #A3FFFF;
}

.btn.btn-default + span {
  display: inline-block;
  position: relative;
  top: -15px;
}

.btn.btn-default + span:hover {
  cursor: pointer;
}

.btn.btn-azure, .btn.btn-azure:focus {
  background-color: #A3FFFF;
  color: #527F7F;
  border-radius: 50%;
  outline: none;
}

.btn.btn-azure:hover {
  color: #F0FFFF;
}

.table .btn.btn-azure {
  padding: 0px 15px;
}

/*END VERB LIST*/

@media screen and (min-width: 992px) {
  .col-md-2.verb-list.text-center {
    text-align: left;
  }
}

@media screen and (min-width: 530px) {
  .table.table-striped {
    font-size: 1em;
  }
}

@media print
{
    .no-print, .no-print *
    {
        display: none;
    }
}
