<div class="container-fluid verb-list">

  <!-- SETTINGS -->
  <div class="col-md-2 verb-list text-center no-print">
    <div class="row">
      <div class="verb-list-input col-md-12 col-xs-4">
        <input type="checkbox" ng-model="verbListCtrl.settings.type" /> Verbart zeigen<br class="hidden-sm hidden-xs"/>
      </div>
      <div class="verb-list-input col-md-12 col-xs-4">
        <input type="checkbox" ng-model="verbListCtrl.settings.praeteritum" /> Präteritum zeigen<br class="hidden-sm hidden-xs"/>
      </div>
      <div class="verb-list-input col-md-12 col-xs-4">
        <input type="checkbox" ng-model="verbListCtrl.settings.auxilliary_verb" /> Hilfsverb zeigen<br class="hidden-sm hidden-xs"/>
      </div>
    </div>

    <br />
    <button class="btn btn-default btn-lg" ng-click="verbListCtrl.dislocateRandomItems()">Testen</button>
    <span tooltip data-toggle="tooltip"
          data-placement="right"
          title="Nach dem Klick verschwinden einige Verbfromen">?</span>
  </div>

  <!-- VERB LIST -->
  <div class="col-md-10">
    <table class="table table-striped">
      <tr>
        <th>
          Nr.
        </th>
        <th ng-show="verbListCtrl.settings.type"
            ng-click="verbListCtrl.sortBy('type')">
          Art
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'type'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <th ng-click="verbListCtrl.sortBy('infinitiv')">
          Infinitiv
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'infinitiv'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <th ng-click="verbListCtrl.sortBy('third_person')">
          3. Person
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'third_person'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <th ng-show="verbListCtrl.settings.praeteritum"
            ng-click="verbListCtrl.sortBy('praeteritum')">
          Präteritum
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'praeteritum'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <th ng-click="verbListCtrl.sortBy('perfect')">
          Perfekt
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'perfect'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <th ng-show="verbListCtrl.settings.auxilliary_verb"
            ng-click="verbListCtrl.sortBy('auxilliary_verb')">
          Hilfsverb
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'auxilliary_verb'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
        <!-- <th>Präfix ist trennbar</th>
        <th>"ge-" im Perfekt</th> -->
        <th ng-click="verbListCtrl.sortBy('ukr')">
          Auf Ukrainisch
          <span class="sortorder"
                ng-show="verbListCtrl.propertyName === 'ukr'"
                ng-class="{reverse: verbListCtrl.reverse}">
          </span>
        </th>
      </tr>
      <tr ng-repeat="verb in verbListCtrl.verbs |
                     orderBy:verbListCtrl.propertyName:verbListCtrl.reverse">
        <td>{{$index + 1}}</td>
        <td ng-show="verbListCtrl.settings.type">
          {{verb.type}}
          <button class="btn btn-azure" ng-hide="verb.type" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <td>
          {{verb.infinitiv}}
          <button class="btn btn-azure" ng-hide="verb.infinitiv" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <td>
          {{verb.third_person}}
          <button class="btn btn-azure" ng-hide="verb.third_person" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <td ng-show="verbListCtrl.settings.praeteritum">
          {{verb.praeteritum}}
          <button class="btn btn-azure" ng-hide="verb.praeteritum" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <td>
          {{verb.perfect}}
          <button class="btn btn-azure" ng-hide="verb.perfect" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <td ng-show="verbListCtrl.settings.auxilliary_verb" ng-click="verbListCtrl.restoreValue(verb)">
          {{verb.auxilliary_verb}}
          <button class="btn btn-azure" ng-hide="verb.auxilliary_verb">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
        <!-- <td>{{verb.separable_prefix}}</td>
        <td>{{verb.adding_ge}}</td> -->
        <td>
          {{verb.ukr}}
          <button class="btn btn-azure" ng-hide="verb.ukr" ng-click="verbListCtrl.restoreValue(verb)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
